<mat-card *ngIf="joke">
  <mat-card-header>
    <mat-card-title>{{ joke.title | uppercase }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ joke.content }}</p>
    <strong>Comments</strong>
    <ng-container [ngSwitch]="comments.length">
      <p *ngSwitchCase="0">No comments to display</p>
      <p *ngSwitchCase="1">{{comments[0]}}</p>
      <ul *ngSwitchDefault>
        <li *ngFor="let comment of comments">{{comment}}</li>
      </ul>
    </ng-container>
  </mat-card-content>
</mat-card>
