<mat-card *ngIf="joke">
  <mat-card-header>
    <mat-card-title>{{ joke.title | uppercase }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ joke.content }}</p>
    <strong>Comments</strong>
    <ng-container [ngSwitch]="comments.length">
      <p *ngSwitchCase="0">No comments to display</p>
      <p *ngSwitchCase="1">{{comments[0]}}</p>
      <ul *ngSwitchDefault>
        <li *ngFor="let comment of comments">{{comment}}</li>
      </ul>
    </ng-container>


    <div class="fields-container">
      <form [formGroup]="jokeForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Comment</mat-label>
          <input matInput type="text" formControlName="commentText" name="comment" />
          <ng-container *ngIf="jokeForm.controls['commentText'].touched &&
          !jokeForm.controls['commentText'].valid &&
          jokeForm.controls['commentText'].errors">
            <div *ngIf="jokeForm.controls['commentText'].errors['required']">
              <mat-error>Comment is required!</mat-error>
            </div>
            <div *ngIf="jokeForm.controls['commentText'].errors['minlength']">
              <mat-error>Comment be at least 4 characters long.</mat-error>
            </div>
          </ng-container>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Auhtor</mat-label>
          <input matInput type="text" formControlName="authorText" name="author"
             />
          <ng-container *ngIf="jokeForm.controls['authorText'].touched &&
          !jokeForm.controls['authorText'].valid &&
          jokeForm.controls['authorText'].errors">
            <div *ngIf="jokeForm.controls['authorText'].errors['required']">
              <mat-error>Author is required!</mat-error>
            </div>
          </ng-container>
        </mat-form-field>
        <button mat-button color="primary" type="submit" [disabled]="!jokeForm.valid">Add</button>
        <button mat-button color="warn" type="button" (click)="jokeForm.reset()">Reset</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>
